{% block matheus_gontijo_system_config_history_view_instance %}
<div class="matheus-gontijo-system-config-history-view-instances">
    {% block matheus_gontijo_system_config_history_view_instance_instances %}
    <sw-card
        title="Instances"
        class="matheus-gontijo-system-config-history-view-instances__grid-card"
        position-identifier="matheus-gontijo-system-config-history-view-instances"
    >

        <span v-html="aaa"></span>


    </sw-card>
    {% endblock %}
</div>
{% endblock %}
