parameters:
    phpVersion: 74000
    level: 8

    paths:
        - ./

    bootstrapFiles:
        - ../../../vendor/autoload.php

    excludePaths:
        - 'tests/TestBootstrap.php'
        - 'tests/TestBootstrapper.php'

    ignoreErrors:
        -
            message: '#Class MatheusGontijo\\SystemConfigHistory\\Repository\\SystemConfigRepositoryDecoration extends @final class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository#'
            path: src/Repository/SystemConfigRepositoryDecoration.php
