parameters:
    phpVersion: 74000
    level: 8

    paths:
        - ./

    bootstrapFiles:
        - ../../../vendor/autoload.php

    excludePaths:
        - 'tests/TestBootstrap.php'
        - 'tests/TestBootstrapper.php'
