<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
     backupGlobals="false"
     colors="true"
     bootstrap="./tests/TestBootstrap.php"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     cacheResult="false"
>
    <php>
        <ini name="error_reporting" value="-1" force="true"/>

        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>
        <env name="APP_SECRET" value="s$cretf0rt3st" force="true"/>
        <env name="SHOPWARE_HTTP_CACHE_ENABLED" value="0" force="true"/>
        <env name="SHELL_VERBOSITY" value="-1" force="true"/>
        <env name="TEST_TOKEN" value="none" force="true"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" force="true"/>

        <server name="APP_ENV" value="test" force="true"/>
        <server name="DATABASE_URL" value="mysql://root:root@mysql:3306/shopware_test" force="true"/>
        <server name="KERNEL_CLASS" value="Shopware\Core\Kernel" force="true"/>
        <server name="SYMFONY_DOTENV_VARS" value="" force="true"/>
        <server name="MAILER_URL" value="null://localhost" force="true"/>
        <server name="HTTPS" value="off" force="true"/>
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <file>./src/MatheusGontijoSystemConfigHistory.php</file>
        </exclude>
    </coverage>
</phpunit>
