.matheus-gontijo-system-config-history {
    .sw-tabs--small,
    .sw-card--large {
        max-width: none;
    }
}

#matheus-gontijo-system-config-history-view-history {
    width: 100%;
    border-collapse: collapse;

    thead th {
        text-align: left;
        padding: 6px;
        cursor: pointer;
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: #f0f2f5;
            }

            td {
                padding: 6px;
            }
        }
    }

    &-no-results {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
}

.matheus-gontijo-system-config-history-view-history {
    &-filter-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #d1d9e0;
        border-radius: 5px;
    }

    &-tr {
        cursor: pointer;
    }

    &-td {
        cursor: pointer;
        font-size: 12px;

        &-null {
            display: block;
            background: #f2f2f2;
            border: 1px solid #e1e1e1;
            border-radius: 3px;
            padding: 2px 5px;
            float: left;
        }
    }

    &-sort-direction {
        color: #7a97b4;
        font-size: 12px;
        margin-left: 5px;
    }

    &-configuration-key,
    &-configuration-value-old,
    &-configuration-value-new,
    &-sales-channel-id {
        font-size: 10px;
        font-family: monospace;
    }

    &-revert-button {
        display: block;
        background: #d5d5d5;
        padding: 4px 10px;
        color: #52667a;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
}
