.sw-page.matheus-gontijo-system-config-history {
    .sw-tabs__custom-content {
        display: none;
    }
}

#matheus-gontijo-system-config-history-view-history-grid-buttons {
    margin: 10px 0 15px;
    text-align: right;
}
